@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

    /* :root{
        --success-color: limegreen;
        --error-color:orangered;
    }

*{
    box-sizing: border-box;
}

body{
    background-color: #eeeef6ef;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* viewport height   */
    min-height: 100vh;
    margin: 0;
} */
#container{
    background-color:#3A4A4D;
}

