@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



*{
    box-sizing: border-box;
}

body{
    background-color: rgb(116, 192, 211);
    font-family: 'Lato', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* viewport height   */
    min-height: 100vh;
    margin: 0;
    
} 
.screen{
    cursor: pointer;
    width: 60%;
    border-radius: 5px;
    background-color: black !important;  
}
.controls{
    background-color: rgb(44, 26, 11);
    width: 60%;
    display: flex;
    color: white;
    align-items: center;
    padding: 15px;

}
.btn{
    border: 0;
    background: transparent;
    cursor: pointer;
}
.btn:focus{
    outline:0;
} 
.fa-play {
    color: green;
}
.fa-stop{
    color:red;
}
.fa-volume-up{
    color: yellow;
    margin-left: 5px;
}
.fa-cog{
 color:white;
}
.fa-expand{
    color: white;
    margin-left: 5px;
}
span.timestamp{
    color: white;
    /* font-weight: bold; */
    /* padding: 10px; */
    /* margin: 10px; */
}
@media(max-width : 800px){
    .screen , .controls{
        width: 90%;
    }
}