:root{
    --primary-color:yellow;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px;
    background-color:rgb(24,45,133);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    color: var(--primary-color);
    text-align: center;
    border-bottom: 2px dashed white;

}
p{
    color: white;
    text-align: center;
}
/* .btn{
    background: var(--primary-color);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size:12px;
    padding: 10px 30px;
    border: 1px solid var(--primary-color);
} */
.btn {
    /* width: 50px; */
    border-radius: 10px;
    background-color: var(--primary-color);
}
.btn img{
    width: 40px;
}
.btn:hover{
    outline: 0;
}
#Home{
    background-color: #green;
    cursor:pointer;
}
.currency-image{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    padding: 10px;
}
.currency{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select{
    padding: 10px 20px;
    border: 1px solid lightgray;
    font-size: 16px;
    border-radius: 5px;
    width: 50%;
}
.currency input{
    border: 0;
    background:transparent;
    font-size: 28px;
    color:white;
    text-align: right;
    width: 50%;
}
.flip-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rate{
    color: var(--primary-color);
    padding: 24px;
    font-size: 0 10px;
}
select:focus , input:focus , button:focus{
    outline: 0;

}